.PostMainCategory {
    background-color: red;

    .Banner {
        background-color: grey;
    }

    .PostCategory {
        background-color: orange;
    }

    .PostControl {
        background-color: yellow;
    }

    .PostSection {
        background-color: green;
    }

    .PageControl {
        background-color: blue;
    }
}