.container {
    text-align: center;
    width: 500px;
    margin: 300px auto;
    height: auto;
    border: solid 1px black;
    padding: 20px;
    border-radius: 15px;
    background-color: #eee;

    h2 {
        margin-bottom: 30px;
    }
}

.inputContainer {}