* {
    margin: 0;
}

.Main {
    background-color: red;

    .Banner {
        background-color: grey;

        border: 1px solid white;
        border-radius: 15px;

        height: 10dvh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .PostCategory {
        background-color: orange;

        display: flex;
        justify-content: space-between;

        & button {
            border: none;
            cursor: pointer;
        }

    }

    .PostControl {
        background-color: yellow;

        display: flex;
        justify-content: space-between;

    }

    .PostSection {
        border: 2px solid black;

        .Post {
            background-color: green;

        }

        .PostStateTop {
            background-color: aqua;

        }

        // .PostStateMid {
        // }

        .PostStateBottom {
            display: flex;
            justify-content: space-between;

            .PostStateDetail {
                background-color: pink;
            }
        }
    }

    .PageControl {
        background-color: blue;
        display: flex;
        justify-content: space-between;

        & button {
            cursor: pointer;
        }
    }
}