* {
  margin: 0;
}

.Main {
  background-color: red;
  display: flex;
  flex-direction: column;
  margin: 0 15dvw;
  height: 90dvh;
}
.Main .Banner {
  background-color: grey;
  border: 1px solid white;
  border-radius: 15px;
  height: 10dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Main .PostNav {
  background-color: orange;
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main .PostNav button {
  border: none;
  cursor: pointer;
}
.Main .PostSectionControl {
  background-color: yellow;
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main .PostSection {
  border: 2px solid black;
}
.Main .PageControl {
  justify-self: end;
}
.Main .PageControl .PageControlBox {
  background-color: blue;
  display: flex;
  justify-content: center;
}
.Main .PageControl button {
  cursor: pointer;
}